a {
    color: black;
    text-decoration: none;
}

.lyrics-container {
    background-color: #f0f0f0; /* Light gray background or any color you prefer */
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 800px;
    margin: 20px auto; /* Center the lyrics container */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
  }
  